{% extends "project_app/base.html" %}
{% block content %}
<body style="background-color:#464454" style="z-index: 10";>

<div class="alert alert-dark" role="alert" style="background-color: rgb(111, 112, 124);">
  <h2 class="alert-heading" style="color:rgb(8, 8, 8)"><center>All Costs</center></h2>
  <hr>
  <p class="mb-0" style="color: black;">Select a Cost to View more Information</p>
</div>

<div style="padding:5px">
<a href="{% url 'project_app:new_cost' %}" class="btn btn-secondary" role="button" aria-pressed="true">Add New Cost</a>
</div>
<div style="padding:5px">
</div>
<center>
<table style="width: 90%" class="table table-striped table-light table-bordered table-hover">

  {% for cost in costs %}
    <tr>
        <td style="text-align: center">
            <a href="{% url 'project_app:cost' cost.id %}" class="btn btn-secondary" role="button" aria-pressed="true">{{ cost }}</a>
        </td>
        </tr>
    {% empty %}
        <li>No costs have been added yet.</li>
    {% endfor %}
</table>
</center>

<br>
</body>
{% endblock content %}