{% extends "project_app/base.html" %}
{% block content %}
<body style="background-color:#464454">

<div class="alert alert-dark" role="alert" style="background-color: rgb(111, 112, 124);">
  <h2 class="alert-heading" style="color:rgb(13, 13, 13)"><center>All Projects</center></h2>
  <hr>
  <p class="mb-0"><center>Select a Project to View its Information</center></p>
</div>

<div style="padding:5px">
<a href="{% url 'project_app:new_project' %}" class="btn btn-secondary" role="button" aria-pressed="true">Add New Project</a>
</div>
<div style="padding:5px">
</div>
<center>
<table style="width: 90%" class="table table-striped table-light table-bordered table-hover">

  {% for project in projects %}
    <tr>
        <td style="text-align: center">
            <a href="{% url 'project_app:project' project.id %}" class="btn btn-secondary" role="button" aria-pressed="true" style="background-color: #6c757d;">{{ project }}</a>
            
        </td>
        </tr>
    {% empty %}
        <li>No projects have been added yet.</li>
    {% endfor %}
</table>
</center>

<br>
</body>
{% endblock content %}